*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(#005C97, #363795);
}

.book{
    position: relative;
    width: 450px;
    height: 700px;
}

.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front, .back{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid brown;
}

.back{
    z-index: 0;
}

.back-content{
    transform: rotateY(180deg);
}

.front-content,
.back-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
    z-index: 5;
    transition: transform 0.5s;
}

button:focus{
    outline: none;
}

button:hover{
    color: rgb(88, 88, 88);
}

i{
    font-size: 50px;
}

#p1{
    z-index: 3;
}

#p2{
    z-index: 2;
}

#p3{
    z-index: 1;
}

.flipped .front,
.flipped .back{
    transform: rotateY(-180deg);
}

#f1{
    background: linear-gradient(#5e2500, #291000);
    color: aliceblue;
}

#b3{
    background: linear-gradient(#5e2500, #291000);
    color: aliceblue;
}